---
---

<footer>
  <div class="wrapper-contents footer flex-between-center wrap gap-1">
    <div>
      <a href="/" class="logo" title="Back to Home">Michelle Young</a>
      <p>
        Image by : <a href="https://unsplash.com/@8verthing"
          >8verthing - unsplash.com</a
        >
      </p>
    </div>
    <p>
      &copy; <span id="copyright"></span> | All rights reserved | Made by : Miko
    </p>
  </div>
</footer>

<style>
  .footer {
    padding-block: 0.5em;
  }

  .footer p,
  .footer a {
    font-size: var(--clamp-1-xl);
  }

  /* 700px  */
  @media (max-width: 43.75em) {
    .footer {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
</style>

<script>
  const copyright = document.querySelector("#copyright");
  copyright.textContent = new Date().getFullYear().toString();
</script>
