---
---

<header id="header" class="header">
  <nav class="wrapper-contents nav">
    <a href="/" class="logo" title="Back to Home">Michelle Young</a>
    <menu class="nav__menu">
      <li><a href="#section1" class="nav__link">Home</a></li>
      <li><a href="#section2" class="nav__link">About Me</a></li>
      <li><a href="#section3" class="nav__link">Portfolio</a></li>
      <li><a href="#section4" class="nav__link">Contact</a></li>
    </menu>
    <div id="themeSwitch">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        width="26"
        height="26"
        viewBox="0 0 24 24"
        fill="currentColor"
        ><path
          d="M5 12a1 1 0 0 0-1-1H3a1 1 0 0 0 0 2h1a1 1 0 0 0 1-1Zm.64 5-.71.71a1 1 0 0 0 0 1.41 1 1 0 0 0 1.41 0l.71-.71A1 1 0 0 0 5.64 17ZM12 5a1 1 0 0 0 1-1V3a1 1 0 0 0-2 0v1a1 1 0 0 0 1 1Zm5.66 2.34a1 1 0 0 0 .7-.29l.71-.71a1 1 0 1 0-1.41-1.41l-.66.71a1 1 0 0 0 0 1.41 1 1 0 0 0 .66.29Zm-12-.29a1 1 0 0 0 1.41 0 1 1 0 0 0 0-1.41l-.71-.71a1.004 1.004 0 1 0-1.43 1.41l.73.71ZM21 11h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2Zm-2.64 6A1 1 0 0 0 17 18.36l.71.71a1 1 0 0 0 1.41 0 1 1 0 0 0 0-1.41l-.76-.66ZM12 6.5a5.5 5.5 0 1 0 5.5 5.5A5.51 5.51 0 0 0 12 6.5Zm0 9a3.5 3.5 0 1 1 0-7 3.5 3.5 0 0 1 0 7Zm0 3.5a1 1 0 0 0-1 1v1a1 1 0 0 0 2 0v-1a1 1 0 0 0-1-1Z"
        ></path>
      </svg>
    </div>
    <div class="nav__mobile-btn" role="menu">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M4 5C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H4ZM7 12C7 11.4477 7.44772 11 8 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H8C7.44772 13 7 12.5523 7 12ZM13 18C13 17.4477 13.4477 17 14 17H20C20.5523 17 21 17.4477 21 18C21 18.5523 20.5523 19 20 19H14C13.4477 19 13 18.5523 13 18Z"
          fill="currentColor"></path>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <path
          d="M20.7457 3.32851C20.3552 2.93798 19.722 2.93798 19.3315 3.32851L12.0371 10.6229L4.74275 3.32851C4.35223 2.93798 3.71906 2.93798 3.32854 3.32851C2.93801 3.71903 2.93801 4.3522 3.32854 4.74272L10.6229 12.0371L3.32856 19.3314C2.93803 19.722 2.93803 20.3551 3.32856 20.7457C3.71908 21.1362 4.35225 21.1362 4.74277 20.7457L12.0371 13.4513L19.3315 20.7457C19.722 21.1362 20.3552 21.1362 20.7457 20.7457C21.1362 20.3551 21.1362 19.722 20.7457 19.3315L13.4513 12.0371L20.7457 4.74272C21.1362 4.3522 21.1362 3.71903 20.7457 3.32851Z"
          fill="currentColor"></path>
      </svg>
    </div>
  </nav>
</header>

<style>
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 888;
    backdrop-filter: blur(var(--size-2-base));
    isolation: isolate;
  }

  .nav {
    height: var(--clamp-7-xl);
    padding-block: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(0rem, 3vw, var(--size-3-base));
    margin-inline: auto 2rem;
  }

  .nav__link {
    font-weight: var(--fw-light);
    transition: var(--transition);
  }

  .nav__link:is(:hover, :focus-visible) {
    color: var(--accent-color);
    text-decoration: underline;
    text-underline-offset: var(--size-x-small);
  }

  #themeSwitch {
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .nav__mobile-btn {
    display: none;
    cursor: pointer;
  }

  /* 700px  */
  @media (max-width: 43.75em) {
    
    #themeSwitch {
      margin-inline: auto 1em;
    }

    .nav__mobile-btn {
      display: block;
      background-color: var(--accent-color);
      padding: var(--size-xx-small);
      border-radius: var(--size-xx-small);
    }

    .nav__mobile-btn svg:first-child {
      display: block;
    }

    .nav__mobile-btn svg:last-child {
      display: none;
    }

    .nav__menu {
      position: fixed;
      width: 100%;
      top: var(--clamp-7-xl);
      left: 0;
      margin-inline: 0;
      flex-direction: column;
      transition: var(--transition);
      background-color: var(--accent-color);
      z-index: -1;
      max-height: 0;
      padding-block: 0;
      visibility: hidden;
    }
    
    .nav__menu.active {
      max-height: 43.75rem;
      padding-block: var(--clamp-5-base);
      visibility: visible;
    }

    .nav__menu.active ~ .nav__mobile-btn svg:first-child {
      display: none;
    }

    .nav__menu.active ~ .nav__mobile-btn svg:last-child {
      display: block;
    }

    .nav__menu li {
      width: 100%;
    }

    .nav__link {
      display: block;
      opacity: 0;
      font-size: var(--text-size);
      font-weight: var(--fw-medium);
      color: var(--light-base);
      padding-block: 1em;
      text-align: center;
    }

    .nav__menu.active .nav__link {
      opacity: 1;
    }
  }
</style>
