---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/michelle.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="canonical" href="https://michelle-young.vercel.app/" />
    <meta
      name="description"
      content="Hi, hello there! My name is Michelle Young. I am Photographer & Film Maker, 
I like learning new things from other professionals."
    />
    <meta
      name="keywords"
      content="michelle young, michelle young photographer"
    />
    <meta name="author" content="Michelle Young" />
    <!-- Open Graph  -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://michelle-young.vercel.app/" />
    <meta property="og:title" content="Michelle Young" />
    <meta
      property="og:description"
      content="Hi, hello there! My name is Michelle Young. I am Photographer & Film Maker, 
I like learning new things from other professionals. "
    />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://michelle-young.vercel.app/" />
    <meta property="twitter:title" content="Michelle Young" />
    <meta
      property="twitter:description"
      content="Hi, hello there! My name is Michelle Young. I am Photographer & Film Maker, 
I like learning new things from other professionals."
    />
    <!-- Fonts -->
    <link
      href="https://api.fontshare.com/v2/css?f[]=poppins@200,300,400,500,600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper-body">
      <Navbar />
      <main class="wrapper-primary main">
        <slot />
      </main>
      <Footer />
    </div>
    <script>
      import "../js/script.js";
    </script>
  </body>
</html>
